{% extends "components/layout.twig" %}

{% block title %}Accueil{% endblock %}
{% block keywords %}accueil,recherche,api,installations,equipements,activites,installation,equipement,activite{% endblock %}

{% block css %}
    <link type="text/css" rel="stylesheet" href="{{ url_for("static", filename="css/reset.css") }}"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for("static", filename="css/spinnerlord/main.css") }}"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for("static", filename="css/spinnerlord/variants/voltra.css") }}"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for("static", filename="css/main.css") }}"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for("static", filename="css/flash.css") }}"/>
{% endblock %}

{% block js %}
    <script src="{{ url_for("static", filename="js/index.bundle.js")  }}"></script>
    <script src="{{ url_for("static", filename="js/Gmap.js")  }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkC97z0ZZLtntnmUOWbPHvuRZQV5bpWwE&callback=initMap"
async defer></script>
    <script src="{{ url_for("static", filename="js/flash.js")  }}"></script>
{% endblock %}

{% block body %}
    <form id="searchForm">
        <input type="text" name="search" id="search" autocomplete="off">
        <select name="critere" id="selection">
            {#<option value="activites/codePostal" selected>Code postal</option>#}
            {#<option value="activites/commune">Commune</option>#}
        </select>
        <button type="submit">Search</button>
    </form>

    <div id="hidder"></div>
    <div id="geo"></div>

    <div id="result">
    </div>
{% endblock %}